{% extends 'base.html' %}

{% block map %}
{% load static %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>

<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/material.js"></script>


<script type="text/javascript" src="{% static 'scripts/chart.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/jquery-3.3.1.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/L.Icon.Pulse.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/animatedMarker.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/map.js' %}"></script>
{% endblock map %}




{% block content %}
<div id="bodyDiv">


   
   <script>
      var tChart;
      var map;
      
      function initCharts(){
         var chartData = generateChartData({{ chartData|safe }});
         tChart = new chart(chartData, 'T');
      };

      var points = {{ points|safe }}
      $(document).ready(function(){
         map = mapDisplay('mapid',{{ extent|safe }}, points, {{ props|safe }});
         initCharts();

         $("#tempbtn").click(function(){
            tChart.hideT();
         });

         $("#cobtn").click(function(){
            tChart.hideC();
         });

         $("#nobtn").click(function(){
            tChart.hideN();
         });

      });
      


   </script>

   <div id="mapAndChartBox">

      <div id="mapBox">
         <div id="mapid"></div>
         <div id="mapCtrl">
            <table>
               <tr>
                  <td><div id="mysuperdiv">dddd</div></td>  
                  <td> <button type="button" class="mapbtn" name="play" id="playbtn" onclick="playClick()">Play</button> </td>
                  <td> <button type="button" class="mapbtn" name="pause" id="pausebtn" onclick="pauseClick()">Pause</button> </td>
                  <td> <button type="button" class="mapbtn" name="stop" id="stopbtn" onclick="stopClick()">Stop</button> </td>
                  <td> <button type="button" class="mapbtn" name="prev" id="prevbtn" onclick="prevClick()">PrevP</button> </td>
                  <td> <button type="button" class="mapbtn" name="next" id="nextbtn" onclick="nextClick()">NextP</button> </td>
               </tr>
            </table>
         </div>      
      </div>
      
      <div id="chartBox">
         <div id="slidebar">
            <table>
               <tr>
                  <td> <button type="button" class="bchart" name="tempbtn" id="tempbtn">Температура</button> </td>
                  <td> <button type="button" class="bchart" name="cobtn" id="cobtn">CO</button> </td>
                  <td> <button type="button" class="bchart" name="nobtn" id="nobtn">NO2</button> </td>
               </tr>
            </table>
         </div>
      
         <div id="allCharts">
            <div class="chart" id="chartdivT"></div>
         </div>
      </div>
   

   </div>
</div>

   
{% endblock content %}