{% extends 'base.html' %}

{% block map %}
{% load static %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
   integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
   crossorigin=""></script>
<script type="text/javascript" src="{% static 'scripts/map.js' %}"></script>
{% endblock map %}




{% block content %}
   <div id="mapid"></div>
   <script>
      mapDisplay('mapid',{{ extent|safe }}, {{ points|safe}}, {{props|safe}})
   </script>
{% endblock content %}